

				<div class="half-layout format-cta">
					<h1><a href="tel:800-555-5555">800-555-5555</a></h1>
					<h5>Take Control of your debt today!</h5>
					<a href="tel:800-555-5555" class='mobile-cta'><i class="fa fa-phone"></i>click to call</a>
				</div><!-- half-layout -->
			
				<div class="half-layout">
					<h4>Request Information</h4>
					<p>Just leave us your email and a quick description and debt specialist will get back to you</p>
					<form class="cd-form floating-labels" method="POST" action="http://formspree.io/seth.a.epstein@gmail.com">
					  <input type="email" name="email" placeholder="Your email">
					  <textarea name="message" placeholder="Your message"></textarea>
					  <button class='mobile-cta' type="submit">Send</button>
					</form>