<div class="navigation-container">
	<div class="wrapper">
		<div class="navigation--firstchoice">
			<div class="logo-container">
				<a class="target-logo" href="#"><img src="../img/logo.jpg" class="img-responsive"></a>
			</div><!-- logo-container -->
			<div class="cta-container">
				<a href="tel:888-553-4295">
					<p><small>Simplify Your Life Today</small></p>
					<h1>888-553-4295</h1>
				<p>Click to Call</p></a>
			</div><!-- cta-container -->
		</div><!-- navigation -->
		
	</div><!-- wrapper -->
</div><!-- navigation-container -->
	