// Footer Styles


.footer-container{
  	@include span(1/1);
	background:#626c6f;
	text-align:center;
	color:#fff;
	
	i{
		font-size:40px;
		color:#fff;
		padding:0 40px;
		transition:all .25s;
	}

}
.social-links-container{
	padding-top:40px;
}
.social-links-container i:hover{
	color:$green;
	
}