.navigation-container{
  	@include span(1/1);
	height:116px;
	position:relative;
	z-index: 15;
	background:$green;

	@include respond-to(sm) {
		height:80px;
	}
	@include respond-to(xs) {
		height:90px;
	}	
	
	.logo-container{
		display:inline-block;
		margin-top:20px;
		height:68px;
		width:320px;
		margin-left:30px;
		
		@include respond-to(sm) {
			display:inline-block;
			margin-top:20px;
			height:40px;
			width:189px;
			margin-left:30px;
		}
		
		@include respond-to(xs) {
			display:block;
			margin-top:5px;
			height:30px;
			width:142px;
			margin-left:auto;
			margin-right:auto;
			
		}
		
		
		img{
			
			//resizing logo smaller looked bad
			
			image-rendering: -moz-crisp-edges;         /* Firefox */
			image-rendering:   -o-crisp-edges;         /* Opera */
			image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
			image-rendering: crisp-edges;
			-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
		}
		
	}
	
	.cta-container{
		display:inline-block;
	  	@include span(1/2);
		float:right;
		text-align:center;
		margin-top:0px;
	 	transition: all 0.5s ease;
		
		@include respond-to(sm) {
			margin-top:2px!important;
		}
		 
		@include respond-to(xs) {
		  	@include span(1);
			text-align:center;
		}
		
		small{
			line-height:100%;
			letter-spacing:3px;
			
			@include respond-to(xs) {
				display:none;
			}
		}
	
		h1{
			font-weight:700;
			font-size:60px;
			@include zero;
			color:#fff;
			line-height:80%;
			
			@include respond-to(sm) {
				font-size:35px;
				line-height:100%;
				letter-spacing:1px;
				
			}
			
			
			@include respond-to(xs) {
				font-size:35px;
				line-height:100%;
			}
		
		
			a{
			
			}
		}
	
		p{
			display:block;
			color:#fff;
			font-size:20px;
			@include zero;
			text-transform:uppercase;
			margin-top:5px!important;
			
			@include respond-to(sm) {
				display:block;
				color:$white;
				font-size:20px;
				@include zero;
				margin-top:-2px!important;
				text-transform:uppercase;
				font-size:14px;
				letter-spacing:3px;

		
		
			}
			
			@include respond-to(xs) {
				font-size:12px;
				margin-top:0px!important;
				letter-spacing:3px;
			}
		
		}
	}
		
	
}




.navigation-container.fixed{
  	@include span(1/1);
	height:80px;
	position:fixed;
	top:0;
	z-index: 15;
	background:$green;
	
	@include respond-to(xs) {
		height:90px;
	}

		
	.logo-container{
		display:inline-block;
		margin-top:20px;
		height:40px;
		width:189px;
		margin-left:30px;
		
		img{
			
			//resizing logo smaller looked bad
			
			image-rendering: -moz-crisp-edges;         /* Firefox */
			image-rendering:   -o-crisp-edges;         /* Opera */
			image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
			image-rendering: crisp-edges;
			-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
		}
		
		@include respond-to(xs) {
			display:block;
			margin-top:5px;
			height:30px;
			width:142px;
			margin-left:auto;
			margin-right:auto;
			
		}
	}
	
	.cta-container{
		display:inline-block;
		margin-top:2px!important;
	  	@include span(1/2);
		float:right;
		text-align:center;
		 transition: all 0.5s ease;
 		@include respond-to(xs) {
 		  	@include span(1);
 			text-align:center;
 		}
	
		h1{
			font-weight:700;
			font-size:40px;
			@include zero;
			line-height:100%;
			letter-spacing:3px;
			
			
			@include respond-to(sm) {
				font-size:35px;
				line-height:100%;
				letter-spacing:1px;
				
			}
		
			a{
				color:#fff;
			
			}
		}
	
		p{
			display:block;
			color:#fff;
			font-size:20px;
			@include zero;
			margin-top:-2px!important;
			text-transform:uppercase;
			font-size:14px;
			letter-spacing:3px;
			
			@include respond-to(xs) {
				font-size:12px;
				margin-top:0px!important;
				letter-spacing:3px;
			}
		
		
		}
	}
		
	
}


.cta-container:hover{
	 transition: all 0.5s ease;
	a h1{
		color:$blue!important;
	}

}

