.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}
.img-responsive{
	width:100%;
	height:auto;
}

.margin-top-40{
	margin-top:40px;
}


.hide-mobile{
	display:block;
	@include respond-to(sm) {
		display:none;
		
	}
}


a.offset_anchor{
	display: block; 
	position: relative; 
	top: -70px; 
	visibility: hidden;
}

