@mixin respond-to($breakpoint) {
	
  @if $breakpoint == "xxs" {
    @media (max-width: 350px) {
      @content;
    }
  }
  
  @if $breakpoint == "xs" {
    @media (max-width: 500px) {
      @content;
    }
  }
  
  @else if $breakpoint == "sm" {
    @media (max-width: 770px) {
      @content;
    }
  }
  
 
  @else if $breakpoint == "md" {
    @media (max-width: 950px) {
      @content;
    }
  }
 
  @else if $breakpoint == "lg" {
    @media (max-width: 1170px) {
      @content;
    }
  }
}

$font-primary: 'Open Sans', sans-serif;
$font-copy: 'Open Sans', sans-serif;

$green: #64a837;
$blue: #004c7d;
$white:#ffffff;


$light-gray:#e8e8e8;
$dark-gray:#434343;

$white: #ffffff;